@{
    ViewData["Title"] = "Showing all";
}

@model List<FlowerShop_Management.Models.Flowers.Flower>

<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Flowers</h3>
    </div>
    <div class="ms-md-auto py-2 py-md-0">
        <a asp-action="Add" asp-controller="Flower" class="btn btn-primary btn-round">New flower</a>
    </div>
</div>

<div>
    <table id="flowers" class="display" style="width:100%">
        <thead>
            <tr>
                <th style="text-align:left;width:5%">ID</th>
                <th style="width:30%">Name</th>
                <th style="width:5%">Price</th>
                <th style="width:5%">Stock</th>
                <th style="width:30%">Image</th>
                <th style="width:5%">Status</th>
                <th style="width:15%">Action</th>   
            </tr>
        </thead>
        <tbody>
            @foreach(var flower in Model)
            {
                <tr>
                    <td style="text-align:left">@flower.Flower_ID</td>
                    <td>@flower.Name</td>
                    <td>>@flower.Price</td>
                    <td>@flower.Stock</td>
                    <td style="text-align:center"><img src="~/images/Flowers/@flower.Image_url" alt="No image available" width="100" height="100"/></td>
                    <td>@flower.Status</td>
                    <td>
                        <a class="btn btn-primary btn-round">Edit</a>
                        <a class="btn btn-danger btn-round">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    new DataTable('#flowers');
</script>

